WPF.QuickStart.UI/Service References/MarketDataProxy/MarketData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="tcp://localhost/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="tcp://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="tcp://localhost/Imports">
      <xsd:import schemaLocation="http://localhost:8081/MarketData?xsd=xsd0" namespace="tcp://localhost/" />
      <xsd:import schemaLocation="http://localhost:8081/MarketData?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/MarketData?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketData_GetDataSourceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourceList" />
  </wsdl:message>
  <wsdl:message name="IMarketData_GetDataSourceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourceListResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketData_SendTickUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendTickUpdate" />
  </wsdl:message>
  <wsdl:portType name="IMarketData">
    <wsdl:operation name="GetDataSourceList">
      <wsdl:input wsaw:Action="tcp://localhost/IMarketData/GetDataSourceList" message="tns:IMarketData_GetDataSourceList_InputMessage" />
      <wsdl:output wsaw:Action="tcp://localhost/IMarketData/GetDataSourceListResponse" message="tns:IMarketData_GetDataSourceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTickUpdate">
      <wsdl:output wsaw:Action="tcp://localhost/IMarketData/SendTickUpdate" message="tns:IMarketData_SendTickUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>