WPF.QuickStart.UI/Service References/MarketDataProxy/MarketData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WPF.Quickstart.Model.Twitter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WPF.Quickstart.Model.Twitter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tweet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScreenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserProfileImageUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tweet" nillable="true" type="tns:Tweet" />
</xs:schema>