WPF.QuickStart.UI/Service References/MarketDataProxy/MarketData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="tcp://localhost/" elementFormDefault="qualified" targetNamespace="tcp://localhost/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/MarketData?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDataSourceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSourceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDataSourceListResult" nillable="true" type="q1:ArrayOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTickUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>